<ion-view view-title="个人中心">
  <ion-content>
   	<div class="list card">
	
			  <a href="#" class="item item-icon-left">
			    <i class="icon ion-ios-person"></i>
			    Bob
			  </a>
	
			  <a href="#" class="item item-icon-left">
			    <i class="icon ion-social-usd"></i>
			    15.00
			  </a>
	
			  <a href="#" class="item item-icon-left">
			    <i class="icon ion-ios-telephone"></i>
			    13888888888
			  </a>

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-android-mail"></i>
		    Bob@feicui.net
		  </a>
		</div>
		  <button class="button button-block button-positive" ng-click=back(); >退出</button> 
  </ion-content>
</ion-view>
