<ion-view view-title="用户登录">
  <ion-content>
    <div class="list list-inset">
		  <label class="item item-input" style="margin-top: 2.5rem; margin-bottom: 1.45rem;">
		    <input type="text" placeholder="User Name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Password">
		  </label>
		</div>
	 <div class="loginButton padding">
	 	<button class="button button-block button-positive" ng-click=goo(); >登录</button> 
	 </div>
	  
  </ion-content>
</ion-view>
